# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules

# Build outputs
dist
dist-ssr
build
.env

# Archivos del sistema
.DS_Store
*.local

# Archivos de editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache de npm/yarn
.pnpm-store
.eslintcache
.parcel-cache

# Archivos de cobertura de tests
coverage
.nyc_output